.main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.list {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list li {
  height: 200px;
  background-color: #eee;
  line-height: 200px;
  font-size: 20px;
  display: none;
}
